.Login
{
    width: 100%;
    height:80vh;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Login-Form-div
{
    background-color: whitesmoke;
    width: 75%;
    height: 100%;   
    padding: 0.5%;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Login-Form
{
    background-color: whitesmoke;
    width: 50%;
    padding:1%;
}

.Login-img-div
{
    width: 50%;
}

.Login-img
{
    width: 100%;
    height: 100%;
}

.Login-Form-title-div
{
    padding:0 1.5%;
}
.Login-Form-title
{
    margin: 0;
}

.Login-Form-Email,.Login-Form-Password,.Login-Form-Forgot
{
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.Login-Form-Email input[type='email'],.Login-Form-Password input[type='password']
{
    width: 90%;
    padding: 2%;
    margin:1%;
    border: none;
    outline: none;
    outline-offset: none;
    border: 2px solid black;
    font-size: medium;

}
.Errormsg
{
    margin: 1%;
    color: red;
}

.Login-Form-ForgotPassword{
    width: fit-content;
    color: #551A8B;
    margin: 0;
    margin-left: 1%;
    font-weight: bolder;
    cursor: pointer;

}
.Login-Form-ForgotPassword:hover
{
    text-decoration: underline;

}
.Login-Form-Email-label,.Login-Form-Password-label
{
    margin: 1%;
    font-weight: bold;
}

.Login-Form-Loginbtn
{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.Login-Form-btn
{
    background-color: #222;
    width: 90%;
    color: white;
    padding: 2%;
    margin: 1%;
    cursor: pointer;
    transition: background-color 0.5s;
}

.Login-Form-btn:hover
{
    background-color: #333;
}
.Login-Form-SignUp
{
    margin-left:1% ;
    font-weight: bold;
    text-decoration: none;
}
.Login-Form-SignUp:hover
{
    text-decoration: underline;
}
