.ForgotPassword-layout
{
    width: 100%;
    padding: 5%;
   
}
.ForgotPassword
{
    border-radius: 2px;
    background-color:whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width:50%;
    height:50%;
    padding: 1%;
    margin: auto;
}
.ForgotPassword-title,.ForgotPassword-info
{
    margin:0.5%;
}
.ForgotPassword-Form
{
    width: 100%;
    padding: 2%;
    height: fit-content;
    display: flex;
    flex-direction: column;

}
.ForgotPassword-Form b
{
    margin: 1%;
    font-weight: bold;
}
.ForgotPassword-Form input[type='email']
{
    width: 90%;
    padding: 2%;
    margin:1%;
    border: none;
    outline: none;
    outline-offset: none;
    border: 2px solid black;
    font-size: medium;
}
.ForgotPassword-Form span
{
    margin: 1%;
    color:red;
}
.ForgotPassword-btns
{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.ForgotPassword-btns button
{
    background-color: #333;
    color:white;
    transition: background-color 0.5s;
    cursor: pointer;
    width: 50%;
    padding: 2%;
}
.ForgotPassword-btns button:hover
{
    background-color: #222;
}

.ForgotPassword-Linkbtn
{
    text-decoration: none;
    width: fit-content;
    color: #551A8B;
    margin: 2%;
    font-weight: bolder;
    cursor: pointer;

}
.ForgotPassword-Linkbtn:hover
{
    text-decoration: underline;
}
